// Font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font-size: 12px;

// Color

$background-soft-violet: hsl(273, 75%, 66%);
$background-soft-blue: hsl(240, 73%, 65%);

$primary-text-very-dark-blue: hsl(238, 29%, 16%);
$primary-text-soft-red: hsl(14, 88%, 65%);

$neutral-text-very-dark-blue: hsl(237, 12%, 33%);
$neutral-text-dark-blue: hsl(240, 6%, 50%);

$neutral-divider-light-blue: hsl(240, 5%, 91%);


