:root {
	--dark-bg: hsl(217, 28%, 15%);
	--dark-t-bg: hsl(219, 30%, 18%);
	--dark-main-bg: hsl(218, 28%, 13%);
	--dark-footer-bg: hsl(216, 53%, 9%);

	--cyan-btn-bg: hsl(176, 68%, 64%);
	--blue-btn-bg: hsl(198, 60%, 50%);
	--error-text: hsl(0, 100%, 63%);
	--white-text: hsl(0, 0%, 100%);
}

// ### Primary

// - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)

// ### Accent

// - Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
// - Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
// - Light Red (error): hsl(0, 100%, 63%)

// ### Neutral

// - White: hsl(0, 0%, 100%)
