// card.scss ~ Button Load
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// card.scss ~ Result
@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    75% {
        transform: scale(1.1);
        opacity: .7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// header.scss ~ Menu
@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}


@keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
}