@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 13px;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  padding: 5rem 2rem;
  background: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  margin: auto;
}

.card {
  width: 100%;
  max-width: 50rem;
  border-radius: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0rem 1rem 4rem -3rem #48556a;
          box-shadow: 0rem 1rem 4rem -3rem #48556a;
}

@media only screen and (min-width: 1024px) {
  .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .card__image {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
}

.card__image img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-color: #ecf2f8;
}

@media only screen and (min-width: 1024px) {
  .card__image img {
    border-radius: 10px 0 0 10px;
  }
}

.card__content {
  padding: 2rem 1.5rem 1rem;
}

@media only screen and (min-width: 1024px) {
  .card__content {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}

.card__content h1 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card__content p {
  font-size: .9rem;
  color: #48556a;
}

.card__profile {
  width: 100%;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .card__profile {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

.card__profile .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  line-height: 1.7;
}

.card__profile .user-info img {
  background-color: #ecf2f8;
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
  margin-right: 1rem;
}

.card__profile .user-info p {
  color: #48556a;
  font-weight: 700;
}

.card__profile .user-info time {
  color: #9eafc2;
}

.card__profile .share {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #48556a;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__profile .share p {
  color: #9eafc2;
  letter-spacing: .5rem;
  margin-right: 1rem;
  font-size: .9rem;
}

.card__profile .share ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__profile--shown {
  background: #48556a;
  border-radius: 0 0 10px 10px;
}

.card__profile--shown .user-info {
  display: none;
}

.card__profile--shown .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__profile--shown .share-desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .card__profile--shown {
    background: initial;
  }
  .card__profile--shown .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card__profile--shown .share {
    display: none;
  }
  .card__profile--shown .share-desktop {
    width: 20%;
    max-width: 18rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
    background: #48556a;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 0 10rem 16.7rem;
  }
  .card__profile--shown .share-desktop::after {
    content: '';
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #48556a;
    bottom: -1rem;
  }
  .card__profile--shown .share-desktop p {
    color: #9eafc2;
    letter-spacing: .5rem;
    margin-right: 1rem;
    font-size: .9rem;
  }
  .card__profile--shown .share-desktop ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card__profile--hidden {
  background: initial;
}

.card__profile--hidden .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__profile--hidden .share {
  display: none;
}

.card__profile--hidden .share-desktop {
  display: none;
}

.card__profile button {
  background-color: #ecf2f8;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em;
}

.card__profile button img {
  margin: 0 auto;
}

.card__profile button:hover {
  background: #6d7f97;
}

.card__profile button:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
/*# sourceMappingURL=styles.css.map */