@use '../abstracts' as *;

.button {
    padding: .6em 2em;
    
    outline: none;
    border: none;
    background: hsl(var(--clr-primary-cyan));

    cursor: pointer;

    transition: all 0.25s ease;

    @include rounded-corner(4px);

    &:hover {
        filter: brightness(101%);
        opacity: .7;
    }

    &:active {
        transform: scale(0.95);
    }

}

.rounded-button {
    @include rounded-corner(50px);
}