@use '../abstracts' as *;

.card {
    padding: 1.25rem;
    background: #fff;
    box-shadow: 5px 10px 50px hsl(0, 0%, 81%);

    @include rounded-corner(10px);

    // Shorten Result(s)
    &__result {
        padding: 0;
        margin: 1.5rem 0;
        text-align: initial;

        animation: pop .5s ease-in-out 1;

    }

    &__heading {
        padding: .7rem;
        color: hsl(var(--clr-primary-violet));
    }

    &__divider {
        width: 100%;
        height: 3px;
        background-color: hsl(var(--clr-neutral-lightgray));
    }

    &__content {
        padding: .7rem;
        color: hsl(var(--clr-primary-cyan));

        button {
            margin-top: .7rem;
            padding: .4em 2em;

            &:after {
                content: "Copy";
            }
        }

        .validate-copy {
            background-color: hsl(var(--clr-primary-violet));

            &:after {
                content: "Copied!";
            }
        }

    }


    // Shorten Form
    &--purple {
        background: url(../../images/bg-shorten-mobile.svg) 200% -25% no-repeat, hsl(var(--clr-primary-violet));
        background-size: auto;

        button {

            &:hover {
                opacity: 1;
            }
            
            &:active {
                letter-spacing: 1px;
            }

            &:after {
                content: "Shorten It!";
            }

        }


        .onclic {
            width: 40px !important;
            height: 40px;

            border-radius: 50px;
            border: 3px solid  hsl(var(--clr-neutral-lightgray));
            border-left-color: hsl(var(--clr-primary-cyan));

            background-color: transparent;

            font-size: 0;

            animation: rotating 2s 0.25s linear infinite;
          
            &:after {
              content: "";
            }

            &:hover {
              color:  hsl(var(--clr-primary-cyan));
              background: #fff;
            }
        }

        .validate {
            font-size: 13px;
            color: #fff;
            background: hsl(var(--clr-primary-cyan));;

            &:after {
                // content: "\f00c";
                content: "\2713";
            }
          }
          

    }
    

    @include mq(medium) { 

        // Shorten Result(s)
        &__result {
            width: 100%;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
        }

        &__heading {
            max-width: 65%;
        }

        &__divider {
            display: none;
        }

        &__content {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            button {
                margin-top: 0;
                margin-left: 1em;
                padding: .4em 1.5em;
                min-width: 7rem;
                max-width: min-content;
            }
        }

        // Shorten Form
        &--purple {
            padding: 3rem;
            background: url(../../images/bg-shorten-desktop.svg) no-repeat, hsl(var(--clr-primary-violet));
            background-size: auto;
        }

        &__form {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            align-items: center;


            .input {
                width: 75%;
            }

            .submit {
                width: 20%;
            }
            
            #submitBtn {
                padding: .8em 2em;
            }
        }

    }

}
