@use '../abstracts' as *;

.hero {

    .container {
        padding: 0;
    }
    
    &__image {
        padding-left: 1.5rem;

        img {
            max-width: 140%;            
            height: auto;

        }

    }

    &__text {
        padding: 0 1rem;
        margin-block: 2rem;

        :is(p, h1, button) {
            margin-block: .8rem;
        }

    }

}

@include mq(small) {

    .hero {
        margin-block: 4rem;

        .container {
            flex-flow: row-reverse;
        }
        
        &__image {
            padding-left: 4rem;
        }


        &__text {
            text-align: initial;
    
            :is(p) {
                padding-right: 6em;
            }

            :is(h1) {
                font-size: var(--fs-700);
            }
        }
    }
}    