@use '../abstracts' as *;

.card__form {

    input {
        width: 100%;
        padding: .8em 1.2em;
        margin-bottom: 1rem;
        border: none;
        transition: all .5s;

        &::placeholder {
            opacity: .5;
        }

        &:focus {
            box-shadow: 0 0 0 1px rgb(131, 131, 131);
            outline: 3px hsl(var(--clr-primary-violet));
        }

          
        &:invalid:not(:focus):not(:placeholder-shown) {
            color: hsl(var(--clr-secondary-red));
            border: 1px solid hsl(var(--clr-secondary-red));
        }
          
        &:invalid:not(:placeholder-shown) {
            border: 1px solid hsl(var(--clr-secondary-red));
        }

        @include rounded-corner(6px);

    }

    .shake {
        animation: shake .5s ease-in-out 1;
    }

    .input {
        position: relative;

        small {
            color: hsl(var(--clr-secondary-red));
            position: relative;
            top: -10px;
            visibility: hidden;
        }
        
        &.error small {
            visibility: visible;
        }

        &.error input::placeholder {
            color: hsl(var(--clr-secondary-red));

        }
          
        &.error input {
            border: 1px solid hsl(var(--clr-secondary-red));
        }

        &.success input {
            color: hsl(var(--clr-primary-cyan));
            border: 1px solid hsl(var(--clr-primary-cyan));
        }

    }


    @include mq(medium) {
        input {
            margin-bottom: 0;
        }

        .input {
    
            small {
                position: absolute;
                top: 120%;
                left: 0;
            }
            
        }

    }

    
}