@use '../abstracts' as *;

.card__form {

    input {
        width: 100%;
        padding: .5em;
        margin-bottom: 1rem;

        @include rounded-corner(4px);


        @include mq(small) {
            margin-bottom: 0;
        }
    }

    
}