@charset "UTF-8";
:root {
  --clr-primary-cyan: 180 66% 49%;
  --clr-primary-violet: 257 27% 26%;
  --clr-secondary-red: 0 87% 67%;
  --clr-neutral-gray: 0 0% 75%;
  --clr-neutral-lightgray: 225 33% 95%;
  --clr-neutral-violet: 257 7% 63%;
  --clr-neutral-blue: 255 11% 22%;
  --clr-neutral-dark-violet: 260 8% 14%;
  --fs-300: 0.95rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}
@media only screen and (min-width: 40em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: var(--fs-300);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: hsl(var(--clr-neutral-violet));
  letter-spacing: -0.5px;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: 700;
  font-stretch: 100%;
  line-height: 1.1;
  color: hsl(var(--clr-neutral-blue));
}

h1 {
  font-size: var(--fs-600);
}

a {
  color: var(--clr-primary-400);
  text-decoration: none;
}
p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}

.card__result p {
  overflow: hidden;
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.button {
  color: white;
  font-weight: 700;
}

.main {
  overflow: hidden;
}

.hide-for-mobile {
  display: none;
}
@media only screen and (min-width: 60.2em) {
  .hide-for-mobile {
    display: initial;
  }
}

@media only screen and (min-width: 60.2em) {
  .hide-for-desktop {
    display: none;
  }
}

.flex {
  display: flex;
}
.flex-col {
  flex-flow: column;
}
.flex-row {
  flex-flow: row;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-s {
  align-items: flex-start;
}

.container {
  padding: 0 1.5rem;
  max-width: 62.5rem;
  margin: 0 auto;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  75% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.button {
  padding: 0.6em 2em;
  outline: none;
  border: none;
  background: hsl(var(--clr-primary-cyan));
  cursor: pointer;
  transition: all 0.25s ease;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.button:hover {
  filter: brightness(101%);
  opacity: 0.7;
}
.button:active {
  transform: scale(0.95);
}

.rounded-button {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.card {
  padding: 1.25rem;
  background: #fff;
  box-shadow: 5px 10px 50px #cfcfcf;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.card__result {
  padding: 0;
  margin: 1.5rem 0;
  text-align: initial;
  animation: pop 0.5s ease-in-out 1;
}
.card__heading {
  padding: 0.7rem;
  color: hsl(var(--clr-primary-violet));
}
.card__divider {
  width: 100%;
  height: 3px;
  background-color: hsl(var(--clr-neutral-lightgray));
}
.card__content {
  padding: 0.7rem;
  color: hsl(var(--clr-primary-cyan));
}
.card__content button {
  margin-top: 0.7rem;
  padding: 0.4em 2em;
}
.card__content button:after {
  content: "Copy";
}
.card__content .validate-copy {
  background-color: hsl(var(--clr-primary-violet));
}
.card__content .validate-copy:after {
  content: "Copied!";
}
.card--purple {
  background: url(../../images/bg-shorten-mobile.svg) 200% -25% no-repeat, hsl(var(--clr-primary-violet));
  background-size: auto;
}
.card--purple button:hover {
  opacity: 1;
}
.card--purple button:active {
  letter-spacing: 1px;
}
.card--purple button:after {
  content: "Shorten It!";
}
.card--purple .onclic {
  width: 40px !important;
  height: 40px;
  border-radius: 50px;
  border: 3px solid hsl(var(--clr-neutral-lightgray));
  border-left-color: hsl(var(--clr-primary-cyan));
  background-color: transparent;
  font-size: 0;
  animation: rotating 2s 0.25s linear infinite;
}
.card--purple .onclic:after {
  content: "";
}
.card--purple .onclic:hover {
  color: hsl(var(--clr-primary-cyan));
  background: #fff;
}
.card--purple .validate {
  font-size: 13px;
  color: #fff;
  background: hsl(var(--clr-primary-cyan));
}
.card--purple .validate:after {
  content: "✓";
}
@media only screen and (min-width: 60.2em) {
  .card__result {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .card__heading {
    max-width: 65%;
  }
  .card__divider {
    display: none;
  }
  .card__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .card__content button {
    margin-top: 0;
    margin-left: 1em;
    padding: 0.4em 1.5em;
    min-width: 7rem;
    max-width: min-content;
  }
  .card--purple {
    padding: 3rem;
    background: url(../../images/bg-shorten-desktop.svg) no-repeat, hsl(var(--clr-primary-violet));
    background-size: auto;
  }
  .card__form {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .card__form .input {
    width: 75%;
  }
  .card__form .submit {
    width: 20%;
  }
  .card__form #submitBtn {
    padding: 0.8em 2em;
  }
}

.card__form input {
  width: 100%;
  padding: 0.8em 1.2em;
  margin-bottom: 1rem;
  border: none;
  transition: all 0.5s;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.card__form input::placeholder {
  opacity: 0.5;
}
.card__form input:focus {
  box-shadow: 0 0 0 1px #838383;
  outline: 3px hsl(var(--clr-primary-violet));
}
.card__form input:invalid:not(:focus):not(:placeholder-shown) {
  color: hsl(var(--clr-secondary-red));
  border: 1px solid hsl(var(--clr-secondary-red));
}
.card__form input:invalid:not(:placeholder-shown) {
  border: 1px solid hsl(var(--clr-secondary-red));
}
.card__form .input {
  position: relative;
}
.card__form .input small {
  color: hsl(var(--clr-secondary-red));
  position: relative;
  top: -10px;
  visibility: hidden;
}
.card__form .input.error small {
  visibility: visible;
}
.card__form .input.error input::placeholder {
  color: hsl(var(--clr-secondary-red));
}
.card__form .input.error input {
  border: 1px solid hsl(var(--clr-secondary-red));
}
.card__form .input.success input {
  color: hsl(var(--clr-primary-cyan));
  border: 1px solid hsl(var(--clr-primary-cyan));
}
@media only screen and (min-width: 60.2em) {
  .card__form input {
    margin-bottom: 0;
  }
  .card__form .input small {
    position: absolute;
    top: 120%;
    left: 0;
  }
}

.header {
  position: relative;
  z-index: 1;
}
.header nav {
  position: relative;
  background-color: white;
  padding-top: 2.0625rem;
  padding-bottom: 1.0625rem;
}
.header__logo {
  margin-right: 1rem;
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header__links {
  align-self: flex-start;
}
.header__item {
  font-weight: 700;
  margin: 0 1rem;
}
.header__item:hover {
  color: hsl(var(--clr-neutral-blue));
}
.header__cta:hover {
  color: #fff;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: hsl(var(--clr-neutral-violet));
  transition: all 300ms ease-in-out;
  transform-origin: 1.5px 2px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(var(--clr-primary-violet));
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}
@media only screen and (min-width: 40em) {
  .header__menu {
    max-width: calc(65% - 3rem);
  }
}
.header__menu a {
  display: block;
  padding: 0.7rem;
  color: #fff;
  text-align: center;
}
.header__menu hr {
  opacity: 0.2;
  margin: 1rem 0;
}
.header .has-fade {
  visibility: hidden;
}
.header .fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}
.header .fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.hero .container {
  padding: 0;
}
.hero__image {
  padding-left: 1.5rem;
}
.hero__image img {
  max-width: 140%;
  height: auto;
}
.hero__text {
  padding: 0 1rem;
  margin-block: 2rem;
}
.hero__text :is(p, h1, button) {
  margin-block: 0.8rem;
}

@media only screen and (min-width: 40em) {
  .hero {
    margin-block: 4rem;
  }
  .hero .container {
    flex-flow: row-reverse;
  }
  .hero__image {
    padding-left: 4rem;
  }
  .hero__text {
    text-align: initial;
  }
  .hero__text :is(p) {
    padding-right: 6em;
  }
  .hero__text :is(h1) {
    font-size: var(--fs-600);
  }
}
@media only screen and (min-width: 60.2em) {
  .hero__text :is(h1) {
    font-size: var(--fs-700);
  }
}
.feature {
  padding-block: 4rem;
  background: linear-gradient(#fff 11%, hsl(var(--clr-neutral-lightgray)) 0);
}
.feature .button {
  width: 100%;
}
.feature p {
  line-height: 1.8;
}
.feature :is(h2, h3) {
  margin-bottom: 1.25rem;
}
.feature__heading {
  margin-block: 3.5rem;
}
.feature__content {
  margin-block: 2.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.feature__divider {
  width: 7.5px;
  height: 70px;
  background: hsl(var(--clr-primary-cyan));
}
.feature .article {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 1.3rem;
  min-height: 16rem;
  max-height: min-content;
}
.feature figure {
  position: relative;
  top: -2.5rem;
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  background: hsl(var(--clr-primary-violet));
}
.feature figure img {
  display: block;
  height: auto;
}
@media only screen and (min-width: 60.2em) {
  .feature__heading p {
    max-width: 50ch;
  }
  .feature__content {
    margin-block: 6em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  .feature__content > article:first-child {
    align-self: flex-start;
  }
  .feature__content > article:last-child {
    align-self: flex-end;
  }
  .feature__divider {
    width: 100px;
    height: 7.5px;
  }
  .feature .article {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 1.5rem;
    min-height: 16rem;
    max-height: min-content;
    text-align: start;
  }
  .feature .article p {
    max-width: 100%;
  }
  .feature figure {
    position: relative;
    top: -2.5rem;
    display: inline-block;
    border-radius: 50%;
    padding: 18px;
    background: hsl(var(--clr-primary-violet));
  }
  .feature figure img {
    display: block;
    height: auto;
  }
}

.boost {
  width: 100%;
  height: 15rem;
  max-height: 20rem;
  background: url(../../images/bg-boost-mobile.svg) no-repeat, hsl(var(--clr-primary-violet));
  background-size: cover;
}
.boost h2 {
  color: #fff;
  margin: 1.25rem 0;
}
.boost .container {
  min-height: 100%;
}
@media only screen and (min-width: 40em) {
  .boost {
    background: url(../../images/bg-boost-desktop.svg) no-repeat, hsl(var(--clr-primary-violet));
  }
  .boost h2 {
    font-size: var(--fs-500);
    margin: 1.5rem 0;
  }
}

.footer {
  position: relative;
  min-height: 100vh;
  background: hsl(var(--clr-neutral-dark-violet));
  padding-block: 2rem;
  text-align: initial;
}
.footer__logo img {
  filter: brightness(100);
  width: 100%;
}
.footer__wrapper {
  margin: 1rem 0;
}
.footer__links {
  width: 100%;
  margin: 1rem;
}
.footer__links h4 {
  margin: 1rem 0;
  color: #fff;
}
.footer__links a {
  line-height: 1.7;
  color: hsl(var(--clr-neutral-gray));
}
.footer__links a:hover {
  color: hsl(var(--clr-primary-cyan));
}
.footer__social {
  width: 100%;
  margin-top: 1rem;
}
.footer__social i {
  display: inline-block;
  color: #fff;
  padding: 0.5em 0.6em;
  cursor: pointer;
}
.footer__social i:hover {
  color: hsl(var(--clr-primary-cyan));
}
@media only screen and (min-width: 60.2em) {
  .footer {
    padding-block: 4rem;
    min-height: max-content;
  }
  .footer .container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__wrapper {
    width: 70%;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
  }
  .footer__links {
    align-items: flex-start;
    margin: 0;
  }
  .footer__links h4 {
    margin: 0;
    margin-bottom: 1rem;
  }
  .footer__links a {
    line-height: 2;
    text-align: start;
  }
  .footer__links > div {
    align-items: flex-start;
  }
  .footer__social {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
