<header>
    <app-header (darkModeSwitched)='switchTheme($event)'></app-header>
</header>
<main class="container">
    <router-outlet></router-outlet>
    <ng-container *ngIf="loadingService.isLoading$ | async">
        <div class="cssload-dots">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
        </div>    
    </ng-container>
</main>